requests==2.25.1
WTForms==2.3.3
twilio==6.52.0
Flask_WTF==0.14.3
pyttsx3==2.90
twython==3.8.2
Flask_Bcrypt==0.7.1
Flask_Login==0.5.0
email_validator==1.1.2
Flask==1.1.2
Flask_RESTful==0.3.8
Flask_SQLAlchemy==2.4.4
Pillow==8.1.2
secrets==1.0.2
