WEATHER_KEY =

BOT_ID =
OFFICIALS_CHAT_ID =
PUBLIC_CHAT_ID =

TWILIO_ACC_SID =
TWILIO_AUTH_TOKEN =
TWILIO_SERVICE_SID =

MAILGUN_API_KEY=
MAILGUN_DOMAIN =

TWITTER_CONSUMER_KEY =
TWITTER_CONSUMER_SECRET =
TWITTER_ACCESS_TOKEN =
TWITTER_ACCESS_TOKEN_SECRET =
