<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Flood Warning System</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/logo.jpg">
</head>

<body>
  <header>
    <h1 id="logo">Pravah</h1>
    <p id="user-name">Sohang Chopra</p>
  </header>

  <nav>
    <a href="#">Dashboard</a>
    <a href="#">Inform Public</a>
    <a href="#">India Status</a>
  </nav>

  <main>
    <section id="water-level-graph" class="box">
      <h1>Water Level Graph</h1>
      <img src="img/water-level-graph.jpg">
    </section>

    <section id="water-level-info">
      <p id="current-level" class="box">Current Level: 50 cm</p>
      <p id="frl" class="box">FRL: 60</p>
      <p id="status" class="box normal">Status: </p>
    </section>

    <section id="weather" class="box">
      <h1>Today's Weather</h1>
    </section>

    <section id="person-detection" class="box">
      <h1>Person Detection</h1>
      <img src="img/person-detection.jpg">
    </section>
  </main>
</body>
</html>
