<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Flood Warning System</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" href="../static/images/tab-logo.png">
</head>

<body>

  <header>
    <img src="../static/images/logo-purple.png" id="logo">
    <div class="user">
      <img class="user-icon" src="../static/images/icons/user-icon.png">
      <p id="user-name">Sohang Chopra</p>
    </div>
  </header>

  <nav>
    <div class="nav__links">
      <a href="#">
        <div class="nav__item">
        <img class="nav__item-icon" src="../static/images/icons/dashboard.svg">
        <p class="nav__item-label">Dashboard</p>
        </div>
        </a>
  
        <a href="#">
          <div class="nav__item">
          <img class="nav__item-icon" src="../static/images/icons/infrom_public.svg">
          <p class="nav__item-label">Inform Public</p>
          </div>
          </a>
  
          <a href="#">
            <div class="nav__item">
            <img class="nav__item-icon" src="../static/images/icons/india_status.png">
            <p class="nav__item-label">India Status</p>
            </div>
            </a>
    </div>

    <div class="nav__credit">
      <p class="nav__credit-text">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
      <p class="nav__credit-text">Logo from <a href="https://www.logomakr.com" >LogoMakr.com</a></p>
    </div>
  </nav>

  <main>

    <section id="water-level-graph" class="box">
      <h1>Water Level Graph</h1>
      <img src="../static/images/water-level-graph.jpg">
    </section>

    <section id="water-level-info">
      <div id="current-level" class="box">Current: 50 cm</div>
      <div id="frl" class="box">FRL: 60</div>
      <div id="status" class="box normal">Status: </div>
    </section>

    <section id="weather" class="box">
      <h1>Today's Weather</h1>
    </section>

    <section id="person-detection" class="box">
      <h1>Person Detection</h1>
      <img src="../static/images/person-detection.jpg">
    </section>
  </main>
</body>
</html>
